body{
  background: #555155;
}
.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 700px;
  height: 800px;
  background: none;
}
.cabeza{
  position: absolute;
  top:16.5%;
  left: 25%;
  width: 40%;
  height: 67%;
  background: #ffffff;
  border-radius: 50%;
}
.cabeza2{
  width: 105%;
  height: 105%;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  z-index: 2;
}
.oreja-izquierda{
  position: absolute;
  width: 30%;
  height: 85%;
  left: -20%;
  top: 5%;
  background: #fd5757;
  border-radius: 50%;
  z-index: 1;
}
.oreja-derecho{
  position: absolute;
  width: 30%;
  height: 85%;
  right: -20%;
  top: 5%;
  background: #fd5757;
  border-radius: 50%;
  z-index: 1;
}
.oreja-interna{
  position: absolute;
  /*border-radius: 50%;*/
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #ff0000;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.ojo-izquierdo{
  position: absolute;
  background: white;
  width: 22%;
  height: 25%;
  top: 18%;
  left: 26%;
  border-radius: 50%;
  z-index: 3;
}
.ojo-derecho{
  position: absolute;
  background: white;
  width: 22%;
  height: 25%;
  top: 18%;
  right: 28%;
  border-radius: 50%;
  z-index: 3;
}
.pupila{
  position: absolute;
  width: 63%;
  height: 65%;
  top: 40%;
  left: 22%;
  border-radius: 80%;
  background: #edea39;
}
.nariz{
  position: absolute;
  background: #fff00e;
  /*gonna try to do triangle for nose instead of rectangle
  width: 25%;
  height: 42.5%;
  left: 37%;
  top: 45%;
  border-radius: 50px; */

  /*new nose below*/
  top: 50%;
  left: 30%;
  width: 40%;
 height: 10%;
 background:  #ff0000;
  border-radius: 50%;
 /*gonna try oval instead of triangle
 -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);*/
  z-index: 7;
  }
/*moustache*/
.bigote {
  position: absolute;
  top: 48%;
  left: 10%;
  width: 0%;
  height: 0%;
  background: #004dff;
  -webkit-clip-path: polygon(50% 18%, 83% 37%, 51% 30%, 24% 39%, 0% 60%, 14% 28%);
clip-path: polygon(50% 18%, 83% 37%, 51% 30%, 24% 39%, 0% 60%, 14% 28%);
  -ms-transform: rotate(25deg); /* IE 9 */
    -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
  /*gonna try another shape
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);*/
  z-index: 5;
}

/*Mouth or aka lips or outer mouth - red */
.boca {
  position: absolute;
  top: 62%;
  left: 20%;
  width: 60%;
  height: 30%;
  background: #ff4191;
  -webkit-clip-path: ellipse(50% 20% at 50% 50%);
clip-path: ellipse(50% 20% at 50% 50%);
  z-index: 4;
  }
/*inner mouth - teeth*/
.dientes-arriba {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 10%;
  height: 40%;
  background: #fff000;
  }
.dientes-arriba1 {
  position: absolute;
  top: 5%;
  left: 35%;
  width: 10%;
  height: 40%;
  background: #fff000;
  }

.dientes-arriba2 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 10%;
  height: 40%;
  background: #fff000;
  }

.dientes-arriba3 {
  position: absolute;
  top: 5%;
  left: 64%;
  width: 10%;
  height: 40%;
  background: #fff000;
  }

.dientes-abajo {
  position: absolute;
  top: 60%;
  left: 20%;
  width: 10%;
  height: 40%;
  background: #fff000;
  }
.dientes-abajo2 {
  position: absolute;
  top: 60%;
  left: 35%;
  width: 10%;
  height: 40%;
  background: #fff000;
  }
.dientes-abajo3 {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 10%;
  height: 40%;
  background: #fff000;
}

.dientes-abajo4 {
  position: absolute;
  top: 60%;
  left: 64%;
  width: 10%;
  height: 40%;
  background: #fff000;
}
.pie-izquierdo {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 250px;
  height: 0px;
  background: #69d21b
}
.pie-derecho {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 50;
  height: 15%;
  background: #69d21b
}



/* gonna try rectangle for brim
-webkit-clip-path: ellipse(50% 8% at 50% 64%);
clip-path: ellipse(50% 8% at 50% 64%);
 z-index: 6;
